<div class="page-header">
  <h1>Students</h1>
</div>

<%= link_to 'Create a new student', new_student_path %>

<% @students.each do |student| %>
  <div id="<%=dom_id(student)%>">
    <%= student.name %>
    <%= link_to 'Edit', edit_student_path(student) %>
  </div>
<% end %>
