@import bootstrap

.avatar
  height: 150px
  width: 150px
  overflow: hidden
  background-repeat: no-repeat
  background-size: contain

.info-block
  display: block
  float: left
  margin-left: 20px

.list-item
  @extend .clearfix
  margin-bottom: 20px

.push--top
  margin-top: 20px

.current-student
  float: none
  display: inline-block