@import bootstrap

.avatar
  height: 150px
  width: 150px
  overflow: hidden
  background-repeat: no-repeat
  background-size: contain
  position: relative

.avatar__caption
  position: absolute
  bottom: 0
  width: 100%
  background: rgba(0, 0, 0, 0.6)
  text-align: center
  color: white
  font-size: 15px

.info-block
  display: block
  float: left
  margin-left: 20px

.list-item
  @extend .clearfix
  margin-bottom: 20px

.push--top
  margin-top: 20px

.current-student
  float: none
  display: inline-block

.seating-table
  width: 100%
  td
    padding: 20px
    border: 3px solid #fff
    width: 50%
  tbody
    td
      background: #e2e2e2
      font-size: 35px
      vertical-align: middle
      text-align: center
  tfoot
    td
      text-transform: uppercase
      text-align: center
      background: #fff
      color: #555
      
.assignment-table
  margin: 80px 14px

